body {
	margin: 50px 0px;
	padding: 0px;
	/* Need to set body margin and padding to get consistency between browsers. */
	text-align: center; /* Hack for IE5/Win */
}

#content {
	width: 400px;
	margin: 0px auto; /* Right and left margin widths set to "auto" */
	text-align: left; /* Counteract to IE5/Win Hack */
	padding: 15px;
	border: 1px dashed #333;
	background-color: #eee;
}

fieldset {
	width: 300px;
	padding: 5px;
	margin-bottom: 0px;
}

legend {
	font-weight: bold;
}

#header h2 {
	color: white;
	background-color: #3275A8;
	height: 50px;
	padding: 5px 0 0 5px;
	font-size: 22px;
}

#footer {
	color: #A6A6A6;
	font-size: 12px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
	text-align: center;
}

.datatable {
	margin-bottom: 5px;
	border: 1px solid #eee;
	border-collapse: collapse;
	width: 400px;
	max-width: 100%;
	font-family: Calibri
}

.datatable th {
	padding: 3px;
	border: 1px solid #888;
	height: 30px;
	background-color: #B2D487;
	text-align: center;
	vertical-align: middle;
	color: #444444
}

.datatable tr {
	border: 1px solid #888
}

.datatable tr.odd {
	background-color: #eee
}

.datatable td {
	padding: 2px;
	border: 1px solid #888
}